<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_23DC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_23DC.Properties.Settings>
            <setting name="FloorKW" serializeAs="String">
                <value>grond,Verdieping</value>
            </setting>
            <setting name="SectionKW" serializeAs="String">
                <value>doorsnede</value>
            </setting>
            <setting name="ElevationKW" serializeAs="String">
                <value>gevel</value>
            </setting>
            <setting name="catchEcapPath" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="LevelLayername" serializeAs="String">
                <value>MAATVOERING</value>
            </setting>
            <setting name="WallKW" serializeAs="String">
                <value>BUITENWAND</value>
            </setting>
            <setting name="catchIcapPath" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="FloorPoints" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;Export&gt;
    &lt;CAP&gt;
       &lt;Levels&gt;
            &lt;Level0&gt;
                &lt;Level_Name&gt;Ground Floor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;0&lt;/Level_Number&gt;
                &lt;Level_Value&gt;0&lt;/Level_Value&gt;
            &lt;/Level0&gt;
            &lt;Level1&gt;
                &lt;Level_Name&gt;1st Floor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;1&lt;/Level_Number&gt;
                &lt;Level_Value&gt;2880&lt;/Level_Value&gt;
            &lt;/Level1&gt;
            &lt;Level2&gt;
                &lt;Level_Name&gt;2nd Floor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;2&lt;/Level_Number&gt;
                &lt;Level_Value&gt;5760&lt;/Level_Value&gt;
            &lt;/Level2&gt;
            &lt;Level3&gt;
                &lt;Level_Name&gt;3rd Floor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;3&lt;/Level_Number&gt;
                &lt;Level_Value&gt;10550&lt;/Level_Value&gt;
            &lt;/Level3&gt;
        &lt;/Levels&gt;
        &lt;Floors&gt;
            &lt;Hatch1&gt;
                &lt;Level_Name&gt;1stfloor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;1&lt;/Level_Number&gt;
                &lt;Level_Value&gt;2880&lt;/Level_Value&gt;
                &lt;cPoint&gt;(-1.60326584326685,11029.817984624,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6798.39673415673,11029.817984624,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6798.39673415673,-0.18201537601999,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(-1.60326584326685,-0.18201537601999,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(-1.60326584326685,11029.817984624,2880)&lt;/cPoint&gt;
            &lt;/Hatch1&gt;
            &lt;Hatch14&gt;
                &lt;Level_Name&gt;2ndfloor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;2&lt;/Level_Number&gt;
                &lt;Level_Value&gt;5760&lt;/Level_Value&gt;
                &lt;cPoint&gt;(0,11030,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,11030,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,0,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(0,0,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(0,11030,5760)&lt;/cPoint&gt;
            &lt;/Hatch14&gt;
            &lt;Hatch21&gt;
                &lt;Level_Name&gt;2ndfloor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;2&lt;/Level_Number&gt;
                &lt;Level_Value&gt;5760&lt;/Level_Value&gt;
                &lt;cPoint&gt;(1020,11365,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(5780,-335.000000000001,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(5780,-335.000000000001,5760)&lt;/cPoint&gt;
            &lt;/Hatch21&gt;
            &lt;Hatch296&gt;
                &lt;Level_Name&gt;groundfloor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;0&lt;/Level_Number&gt;
                &lt;Level_Value&gt;0&lt;/Level_Value&gt;
                &lt;cPoint&gt;(6800,2940,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,0,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(0,0,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(0,11030,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,11030,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,9240,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(10000,9240,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(10000,2940,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,2940,0)&lt;/cPoint&gt;
            &lt;/Hatch296&gt;
            &lt;Hatch4&gt;
                &lt;Level_Name&gt;1stfloor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;1&lt;/Level_Number&gt;
                &lt;Level_Value&gt;2880&lt;/Level_Value&gt;
                &lt;cPoint&gt;(6798.39673415673,9539.81798462398,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(10230.3950501274,9539.81798462398,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(10230.3950501274,2639.81798462398,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6798.39673415673,2639.81798462398,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6798.39673415673,9539.81798462398,2880)&lt;/cPoint&gt;
            &lt;/Hatch4&gt;
        &lt;/Floors&gt;
        &lt;Walls&gt;
            &lt;Polyline13&gt;
                &lt;Level_Name&gt;1stfloor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;1&lt;/Level_Number&gt;
                &lt;Level_Value&gt;2880&lt;/Level_Value&gt;
                &lt;cPoint&gt;(-1.60326584326685,11029.817984624,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6798.39673415673,11029.817984624,2880)&lt;/cPoint&gt;
                 &lt;Levels&gt;&lt;cPoint&gt;(6798.39673415673,-0.18201537601999,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(-1.60326584326685,-0.18201537601999,2880)&lt;/cPoint&gt;
                &lt;cPoint&gt;(-1.60326584326685,11029.817984624,2880)&lt;/cPoint&gt;
            &lt;/Polyline13&gt;
            &lt;Polyline26&gt;
                &lt;Level_Name&gt;2ndfloor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;2&lt;/Level_Number&gt;
                &lt;Level_Value&gt;5760&lt;/Level_Value&gt;
                &lt;cPoint&gt;(0,11030,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,11030,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,0,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(0,0,5760)&lt;/cPoint&gt;
                &lt;cPoint&gt;(0,11030,5760)&lt;/cPoint&gt;
            &lt;/Polyline26&gt;
            &lt;Polyline311&gt;
                &lt;Level_Name&gt;groundfloor&lt;/Level_Name&gt;
                &lt;Level_Number&gt;0&lt;/Level_Number&gt;
                &lt;Level_Value&gt;0&lt;/Level_Value&gt;
                &lt;cPoint&gt;(6800,2940,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,0,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(0,0,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(0,11030,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,11030,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,9240,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(10000,9240,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(10000,2940,0)&lt;/cPoint&gt;
                &lt;cPoint&gt;(6800,2940,0)&lt;/cPoint&gt;
            &lt;/Polyline311&gt;
        &lt;/Walls&gt;
    &lt;/CAP&gt;
&lt;/Export&gt;</value>
            </setting>
        </_23DC.Properties.Settings>
    </userSettings>
</configuration>